# Negeer alle solution bestanden
solution.py
# Negeer secrets
secrets.py
# Negeer mappen die met .idea te maken hebben (PyCharm instellingen)
.idea/

# Negeer Python cache bestanden
__pycache__/
*.pyc
/Day_039/.env
/Day_040/.env
/Day_046/.env
